@media (max-width: 781px) {
  .has-horizontal-scrolling {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    
    & > * {
      scroll-snap-align: start;
      flex: 0 0 auto;
      padding: 0 3em 0 0;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
@media (min-width: 782px) {
  .has-horizontal-scrolling {
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    
    & > * {
      scroll-snap-align: start;
      flex: 0 0 auto;
      padding: 0 4em 0 0;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
}